body {
  line-height: 1.6;
  font-family: $font_secondary;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p,
.paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.6;
  font-family: $font_secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-dark;
  font-family: $font-primary;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
  transition: 0.2s ease;
}

h1,
.h1 {
  font-size: 60px;
}

// List in descending order to prevent extra sort function
$type-levels: 6, 5, 4, 3, 2;

@each $level in $type-levels {
  $font-size: $font-size * $font-scale;

  // Output heading styles
  h#{$level},
  .h#{$level} {
    font-size: $font-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    // responsive for h1, h2, h3, h4
    &:not(h5, .h5, h6, .h6) {
      @include desktop {
        font-size: calc(#{$font-size} * 0.9);
        margin-bottom: 0.55em;
      }

      @include tablet {
        font-size: calc(#{$font-size} * 0.8);
      }
    }

    // responsive for h5, h6
    @include desktop {
      font-size: calc(#{$font-size} * 0.95);
      margin-bottom: 0.55em;
    }

    @include tablet {
      font-size: calc(#{$font-size} * 0.9);
    }
  }
}
